# Dependencies
EchoPen-Backend/node_modules/
EchoPen-frontend/node_modules/

# Environment variables
EchoPen-Backend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# OS / Editor files
.vscode/
.DS_Store
Thumbs.db
